<table cellSpacing="0" cellPadding="0" width="100%" border="0" class="crudToolbar">
	<tbody>
		<tr>
			<td width="98%" nowrap>
				&nbsp;#{crud.actionbarButton @doRead(), 	label:'Buscar' /}	
				&nbsp;#{crud.actionbarButton @read(), 		label:'Cancelar' /}

				&nbsp;#{crud.actionbarButton @doCreate(), 	label:'Grabar' /}	
				&nbsp;#{crud.actionbarButton @read(), 		label:'Cancelar' /}

				&nbsp;#{crud.actionbarButton @doUpdate(), 	label:'Grabar' /}	
				&nbsp;#{crud.actionbarButton @read(), 		label:'Cancelar' /}

				&nbsp;#{crud.actionbarButton @doDelete(), 	label:'Grabar' /}	
				&nbsp;#{crud.actionbarButton @read(), 		label:'Cancelar' /}
			</td>
			<td width="2%"></td>
		</tr>
	</tbody>
</table>